.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.note_editor {
    width: calc(100% - 72px - 188px - 120px - 100px);
    margin: 0px auto 20px auto;
    height: calc(100% - 40px - 120px);
    border-radius: 33px;
    padding:60px 60px 60px 60px;
    background-color: var(--md-sys-color-surface-container-lowest);
    overflow-y: auto;
    scrollbar-gutter: stable;
    transition: width 0.3s;
}

.note_editor:focus {
    outline: none;
}

.sidebar_mode {
    width: calc(100% - 72px - 120px - 100px);
    margin: 0px 100px 60px 20px;
}