.container {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    display: flex;
}

.note_editor {
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 100px 20px 20px;
    height: calc(100% - 20px - 30px - 60px);
    border-radius: 33px;
    padding: 30px 117px 60px 197px;
    background-color: var(--md-sys-color-surface-container-lowest);
    overflow-y: auto;
    scrollbar-gutter: stable;
    transition: width 0.3s ease, margin 0.3s ease-in-out;
    caret-color: #000;
}

.note_editor:focus {
    outline: none;
}

.sidebar_mode {
    width: calc(100% - 72px - 120px - 100px);
    margin: 0px 40px 60px 20px;
    padding: 30px 50px 60px 50px;
}

.blocks_root {
    outline: none;
}

.after_blocks_area {
  min-height: 120px;
  cursor: text;
}