.topbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 8px 24px;
    /* position: fixed; */
}

.left_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    grid-column: 1;
}

.breezy_title {
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: var(--md-sys-color-outline);
}

.logo {
    width: 40px;
    height: 40px;
}

.topbar_title {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: var(--md-sys-color-on-surface);
    grid-column: 2;
    margin: 0;
}

.right_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 3;
}