.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6px 0;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: var(--md-sys-color-surface-container-high);
  border-radius: 12px;
  color: var(--md-sys-color-on-surface-variant);
}